/**
 
===========================================================================

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

===========================================================================

Alex Lau
(c) Tecky Academy Limited 2019

===========================================================================

*/
.content,
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 3vw;
}

.button {
  background: #ffffff;
  color: #000000;
  padding: 1vw 2vw;
  display: flex;
  align-items: center;
}

.button .function-button {
  display: inline-block;
  width: 4vw;
  height: 2vw;
  margin-right: 0.5vw;
}
.button .function-button.green {
  background: #0c0;
}
.button .function-button.red {
  background: #f00;
}

.buttons {
  display: flex;
}
.buttons .button {
  margin-right: 2vw;
}
.buttons .button:last-child {
  margin-right: 0;
}

h3 {
  margin: 0;
  font-weight: 500;
}

input {
  font: inherit
}

.wifi-list {
  flex: 1;
  margin: 3vw;
  border: solid 2px #ffffff;
  width: 94vw;
  overflow-y: scroll;
}

.wifi-list div {
  padding: 2vw 4vw;
  display: flex;
  align-items: center;
}
.wifi-list div:hover,
.wifi-list div.selected {
  background: #007B84;
}
.wifi-list div p {
  margin: 0;
}
.wifi-list div p:first-child {
  flex: 1;
}

.wifi-password {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wifi-password input {
  margin-bottom: 4vw;
}

.keyboard {
  display: flex;
  flex-direction: column;
}
.keyboard .row {
  display: flex;
}
.keyboard .key {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #333;
  margin: 0.1rem;
}
.keyboard .key.active {
  font-weight: 500;
}
.keyboard .key.active,
.keyboard .key:hover {
  background: #007B84;
}
.keyboard .key.shift {
  width: 4.2rem;
}